@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 345px;
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: 1.9rem;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-weight: 500;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-weight: 200;
  border-radius: 100px;
  background: var(--color-dark);
  opacity: 0.6;
  padding: 0.5rem 1rem;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: flex-end;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  background: var(--color-primary);
  border-radius: 10px;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
}

.link:hover {
  background-color: #7e2c30;
}
